@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

:root {
    --pink: rgb(255, 130, 172);
    --white: rgb(255, 255, 255);
    --black: #000;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

body {
    background: var(--white); /* Change background to white */
    color: var(--black); /* Change text color to black */
}

*::selection {
    background: var(--pink);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: #111;
}

html::-webkit-scrollbar-thumb{
    background: var(--pink);
}

body{
    background: var(--white);
    overflow-x: hidden;
    padding-left: 35rem;
    font-family: 'Roboto';
}

section{
    min-height: 100vh;
    padding: 1rem;
}


.btn {
    padding: 0.7rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding-left: 5px;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--pink);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 0.1rem solid black;
    color: var(--black);
}

.heading span{
    color: var(--pink);
}


/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 35rem;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 184, 228)); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

    background-image: url("https://wallpapercave.com/wp/wp2736382.jpg");
    background-repeat: repeat-y;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--pink);
}

header .user .name {
    padding: 10px 0;
    font-size: 3.5rem;
    color: var(--white);
}

header .user p {
    padding-bottom: 5px;
}

header .user .post {
    font-size: 2rem;
    color: var(--white);
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 8rem;
}

header a {
    text-decoration: none;
}

header .navbar ul li a{
    font-size: 2rem;
    display: block;
    padding: 10px 36px;
    margin: 2.5rem 0;
    background: transparent;
    color: var(--white);
    border-radius: 50px;
}

header .navbar ul li a:hover{
    background: var(--pink);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 100;
    display: none;
}

/* Link */
.connection a{
    text-decoration: none;
    font-size: 4rem;
    color: var(--white);
    padding: 0 10px;
}

.connection a:hover{
    color: var(--pink);
}


/* Home section */

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.home h1 {
    font-size: 5rem;
    color: var(--black);
}


.home h1 span {
    color: var(--pink);
    font-family: 'Pacifico';
}

.home p {
    font-size: 1.5rem;
    color: var(--black); 
    padding: 1rem 0;
    text-transform: none;
    line-height: 5rem;
}
.home p strong {
    color: rgb(255, 221, 0);
    font-family: 'Pacifico';
    font-size: 2.5rem;
    font-weight: 400;
}

/* about */

.about .row {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 50%; /* Adjust flex property */
    padding: 2rem 3rem;
}

.about .row .info h3 {
    font-size: 1.5rem;
    color: var(--pink);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: var(--black);
    padding: 0 0.5rem;
}

.about .row .counter {
    flex: 1 1 50%; /* Adjust flex property */
    display: flex; /* Add display flex */
    flex-wrap: wrap;
    justify-content: center; /* Align items at the center */
}
.about .row .counter .skill-item {
    flex: 0 1 calc(50% - 2rem); /* Adjust width of skill-item */
    padding: 1rem; /* Add padding */
    margin: 1rem; /* Add margin for spacing */
}

.about .row .counter .skill-item h3{
    color: var(--black);
    line-height: 40px;
    padding-top: 1rem;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    transform: translateY(50px);
   
}
.about .row .counter .skill-item .counter-progress {
    background-color: var(--black);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative; /* Add position relative */
    margin-bottom: 30px;
}
.about .row .counter .counter-progress{
    margin-bottom: 30px;
}


.about .row .counter .skill-item .counter-progress .skill-percent {
    color: var(--pink);
    font-size: 1rem; /* Adjust font size */
    position: absolute; /* Add position absolute */
    top: -30px; /* Adjust top position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) scaleX(0); /* Hide initially */
    transition: transform 0.5s ease; /* Add transition for smooth effect */
}

.about .row .counter .skill-item:hover .counter-progress .skill-percent {
    transform: translateX(-50%) scaleX(1); /* Run animation on hover */
}
.about .row .counter .skill-item .counter-progress .counter-progress-in {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--pink);
    width: 0; /* Initially start with no width */
    transition: width 0.5s ease; /* Add transition for smooth effect */
}

.about .row .counter .skill-item:hover .counter-progress .counter-progress-in {
    width: calc(var(--width) * 1%); /* Set width based on skill-percent */
}


.about .row .counter .skill-item .counter-progress .counter-progress-in .skill-percent {
    color: var(--pink);
    position: relative;
    font-size: 2rem;
}


.about .row .counter .box span {
    font-size: 4rem;
    color: var(--pink);
}

.about .row .counter .box h3 {
    color: var(--black);
}



/* education */

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 25rem;

}

.education .box-container .box {
    width: 35rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--black);
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add more shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.project .box-container .box:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

/* Define animation keyframes */
@keyframes example {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.project .box-container .box {
    width: 100%;
    height: 100%;
    margin: 4rem 1rem;
    padding: 5rem; 
    border: .2rem solid var(--black);
    position: relative; 
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    animation: example 1s infinite; /* Add animation */
}


.education .box-container .box span {
    font-size: 2rem;
    color: var(--pink);
    border-radius: 5rem;
   
}

.education .box-container .box .awards-icon{
    display: flex;
}

.education .box-container .box h5{
    /* font-size: 2rem; */
    color: var(--black);
    margin: 1rem 1rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color: var(--black);
    padding-top: 1rem 0;
}

.education .box-container .box .icon{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background: var(--pink);
}

/* Project */
.project .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 15rem;
}

.project .box-container .box {
    width: 100%;
    height: 100%;
    margin: 4rem 1rem;
    padding: 5rem; 
    border: .2rem solid var(--black);
    position: relative; 
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}


.project .box-container .box span {
    font-size: 2rem;
    color: var(--pink);
    padding: 0.5rem 0.5rem;
    width: 10px;
}


.project .box-container .box .link {
    display: flex;
}

.project .box-container .box .link a{
    font-size: 10px;
    color: var(--black);
    margin-left: 11px;
    text-decoration: none;
}

.project .box-container .box ul {
    /* list-style: none; */
    color: var(--black);
}

.project .box-container .box li{
    font-size: 10px;
}

.project .box-container .box h6{
    font-size: 1.5rem;
    color: var(--black);
    margin-top: 0.7rem;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
}

.project .box-container .box  a{
    font-size: 1rem;
    color: var(--black);
}

.project .box-container .box p{
    font-size: 1.5rem;
    color: var(--black);
    background: var(--white);
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    width: 300px;
    height: 70px;
    text-transform: none;
    
}


.project .box-container .box .details .link {
    display: flex;
}


.project .box-container .box .icon i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    background: var(--pink);
}

.project .box-container .box .content {
    flex: 1;
    margin-right: 1rem; 
}
.project .box-container .box .picture-box {
    flex: 1;
    text-align: right;
    margin-left: 1rem;
    margin-top: 10%;
}

.project .box-container .box .picture-box img {
    max-width: 100%;
    max-height: 100%;
}


/* Contact */

.contact .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 1rem 6rem;
}
.contact .row .container {
    flex: 1 1 50rem;
    padding: 2rem 5rem;
    background: var(--pink);
    border-radius: 10px;
    margin: 3rem 6rem;
}

.contact .row .container .box {
    display: block;
    justify-content: center;
    margin: 1rem 0;
}

.contact .row .content .info {
    text-transform: lowercase;
}


.contact .row .content .title {
    text-transform: uppercase;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3:first-child{
    text-transform: lowercase;
}
.contact .row .content .info h3:last-child{
    text-transform: none;
}


.contact .row .content .info-icon {
    padding-right: 5px;
    color: var(--pink);
}


.top {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    z-index: 100;
    display: none;

}

.top img {
    width: 8rem;
    height: 7rem; 
}

.contact .row {
    justify-content: space-between;

}

.contact .row .container {
    justify-items: center;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);

}
.contact .row .container .box .name .name-icon {
    color: rgb(140, 140, 140);
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;

}

.contact .row .container .box .name input {
    width: 80%;
}
.contact .row .container .box .name {
    padding: 1rem 0;
    font-size: 1.5rem;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    margin: 1rem 0;
    width: 30rem;
}
.contact .row .container .box #name {
    background: transparent;
}


.contact .row .container .box .project .project-icon {
    color: rgb(140, 140, 140);
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem; 
}
.contact .row .container .box .project {
    padding: 1rem 0;
    font-size: 1.5rem;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    margin: 1rem 0;
    width: 30rem;
}

.contact .row .container .box .project input {
    width: 80%;
}


.contact .row .container .box #project {
    background: transparent;

}

.contact .row .container .box .email .email-icon {
    color: rgb(140, 140, 140);
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.contact .row .container .box .email {
    padding: 1rem 0;
    font-size: 1.5rem;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    margin: 1rem 0;
    width: 30rem;
}

.contact .row .container .box .email input {
    width: 80%;
    text-transform: none;
}


.contact .row .container .box #email {
    background: transparent;
}

.contact .row .container .box {
    background: transparent;
    margin: 2rem 0;
}

.contact .row .container .box .message-box {
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 1rem;
    font-size: 1.5rem;
    width: 100%;
}
.contact .row .container .box .message-box input {
    width: 100%;
}
.contact .row .container .box .button {
    width: 30%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 1rem;
    color: #eee;
}
.contact .row .container .box .button button {
    width: 100%;
    font-size: 8px;
    border-radius: 2rem;
    background: transparent;
    border: 1px solid black;

}
.contact .row .container .box .button button:hover{
    background: var(--pink);
}

.contact .row .container .box .message .success {
    font-size: 10px;
    color: green;
    position: absolute;
    animation: button .3s linear;
    display: none;
}

.contact .row .container .box .message .danger {
    font-size: 12px;
    color: red;
    position: absolute;
    transition: 0.2s;
    animation: button .3s linear;
    display: none;
}

@keyframes button {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }   
}











/* Media queris */

@media (max-width: 1000px){

    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle{
        left: 0%;
    }
    body {
        padding: 0;
    }
}

@media (max-width: 1200px){
    
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width: 400px){
    header {
        left: 100vw;
    }

    .heading {
        margin:0 3rem;
    }
    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }

}


